@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5 !important;
    user-select: none !important;
    font-family: 'Outfit', sans-serif !important;
}

:root{
    --bg: #f5f5f5;
    --bg-secondary: #ffffff;

    --txt: #000000;
    --txt-secondary: #2e2e2e;

    --border: #e8e8e8;
    --border-secondary: #dadada;
}

body{
    margin: 20px 120px;
    height: 100vh auto;
    color: var(--txt) !important;
    background-color: var(--bg-secondary) !important;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(4px) saturate(50%);
    -webkit-backdrop-filter: blur(4px) saturate(50%);
}

.container{
    width: 100%;
    height: auto;
}

.web-title{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-secondary);
}
.web-title p{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: var(--txt-secondary);
}
.web-title p span{
    padding: 4px 15px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--bg);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
}

/*data-container*/
.data-container{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-container{
    width: calc(33% - 15px);
    height: auto;
    padding: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--bg);
}
.user-container:hover{
    box-shadow: rgba(17, 12, 26, 0.10) 10px 24px 50px 10px;
    transition: all 0.3s ease;
}
.user-details{
    width: 100%;
    height: 120px;
    border-radius: 18px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: var(--bg-secondary);
    display: flex;
}
.user-photo{
    width: 110px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.user-photo .cover{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-secondary);
    background-color: var(--txt);

}
.user-info{
    width: calc(100% - 110px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-info h3{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .25px;
}
.user-info p{
    font-size: 13px;
}
.user-options{
    width: 100%;
    height: 55px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.user-options button{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .25px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid oklch(76.8% 0.233 130.85);
    background-color: oklch(84.1% 0.238 128.85);
}
.user-options button:hover{
    background-color: oklch(76.8% 0.233 130.85);
    transition: all 0.3s ease;
}
.user-options button:last-child{
    color: var(--bg-secondary);
    border: 1px solid oklch(57.7% 0.245 27.325);
    background-color: oklch(63.7% 0.237 25.331);
}
.user-options button:last-child:hover{
    background-color: oklch(57.7% 0.245 27.325);
    transition: all 0.3s ease;
}



/*update-user*/
.update-user,
.create-user{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.update-container{
    width: 560px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--bg-secondary);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.update-container h2{
    font-size: 22px;
    font-weight: 600;
}
.update-container p{
    font-size: 14px;
    color: var(--txt-secondary);
    margin-bottom: 10px;
}

form{
    padding: 10px 0;
}

.inpBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}
.inpBox span{
    font-size: 14px;
    margin-bottom: 5px;
}
.inp-bx{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--border);
    overflow: hidden;
}
.inp-bx input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}
.submit-btns{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}
.submit-btns button{
    width: 100%;
    height: 37px; 
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .25px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid oklch(76.8% 0.233 130.85);
    background-color: oklch(84.1% 0.238 128.85);
}
.submit-btns button:first-child{
    background-color: var(--border);
    border: 1px solid var(--border-secondary);
}